/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define L_FN    1
#define R_FN    2

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp Q      &kp W      &kp E       &kp R       &kp T     &kp Y       &kp U       &kp I      &kp O       &kp P
    &hm LGUI A &hm LALT S &hm LCTRL D &hm LSHFT F &kp G     &hm RALT H  &hm RSHFT J &hm RCTRL K            &hm RGUI L
    &lt L_FN Z &kp X      &kp C       &kp V       &kp B     &kp N       &kp M       &kp COMMA              &lt R_FN DOT
    &kp LSHFT             &kp BSPC    &kp C_MUTE  &kp SPACE &none                                          &kp RALT
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };
        
        l_fn {
            bindings = <
    &bt BT_PRV &bt BT_NXT &kp N3     &kp N4       &kp N5    &kp N6      &kp N7     &kp N8      &kp N9    &kp N0
    &trans     &trans     &trans    &trans       &trans    &kp LBKT    &kp RBKT   &kp BSLH               &kp RET
    &none      &kp ESC    &reset     &bootloader  &kp FSLH  &kp SEMI    &kp APOS   &none                 &kp COMMA
    &none                 &none      &trans       &kp BSPC  &none                                        &none
            >;
            sensor-bindings = <&inc_dec_kp PG_DN PG_UP>;
        };

        r_fn {
            bindings = <
    &kp N1      &kp N2      &kp N3     &kp N4      &kp N5     &kp N6      &kp N7     &kp N8      &kp N9     &bt BT_CLR
    &kp TAB     &kp EQUAL   &kp MINUS  &trans      &none      &trans      &trans     &trans                 &trans
    &kp GRAVE   &kp ESC     &none      &none       &kp FSLH   &none       &none      &none                  &none
    &none                   &none      &trans      &kp BSPC   &none                                         &none
            >;
        };
    };
};